html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffc8da;
  background-image: linear-gradient(#615dad, #ffc8da);
  margin: 0;
  background-repeat: no-repeat;
}

.container {
  margin: 70px auto;
}

.image {
  width: 100%;
  max-height: 100%;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.container__image {
  height: 243px;
}

.container__content {
  background-color: #283e50;
  padding: 1rem;
}

.container__text {
  color: #ffff;
  font-size: 17.5px;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5;
}

.container__title {
  color: #ffff;
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  line-height: 0.5;
  padding-bottom: 1.2rem;

}

.button__pravidla {
  background-color: #1fcca4;
  text-align: center;
}

.button__pravidla:hover {
  background-color: #1cbb96;
}

.button__hra {
  background-color: #0197f6;
  text-align: center;
  border-top: 1px solid #283e50;
}

.button__hra:hover {
  background-color: #0090e9;
}

.odkaz {
  color: #ffff;
  font-size: large;
  font-family: sans-serif;
  text-decoration: none;
  line-height: 3;
  display: block;
}

/* styles for hra.html*/

.game__all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vmin;
  margin: 5rem auto;
}

.game__title {
  color: #ffff;
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.game__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}


.game__header--left {
  display: flex;
  align-items: center;
  font-size: 1.2gitrem;

}

.player__turn--circle {
  padding-left: 5%;
}



.game__header--right {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.game__buttons--home {
  width: 3rem;
  height: 3rem;
}

.game__buttons--restart {
  width: 3rem;
  height: 3rem;
}

.home__btn {
  background-color: #1fcca4;
  border-radius: 15%;
  padding-left: 15%;
  padding-top: 20%;
  padding-right: 15%;
  padding-bottom: 15%;
}

.home__btn:hover {
  background-color: #1cbb96;
}

.restart__btn {
  background-color: #0197f6;
  border-radius: 15%;
  padding-left: 15%;
  padding-top: 20%;
  padding-right: 15%;
  padding-bottom: 15%;
}

.restart__btn:hover {
  background-color: #0090e9;
}

.game__board {
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
}

.game__board--field {
  flex-basis: 10%;
  opacity: 0.5;
  aspect-ratio: 1 / 1;
  border: black 1px solid;
  cursor: pointer;
}

.game__board--field:hover,
.game__board--field:focus {
  background-color: #ffff;
}

/*there is 3th part of homework*/
.board__field--circle {
  background-image: url(circle_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}

.board__field--cross {
  background-image: url(cross_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}
